<!DOCTYPE html>

<html>

<head>
<title>Order Form</title>
<link rel="icon" href="/img/logo.png">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="main-content">
{{>header}}
<p>Fill this Form:</p>
{{>body1}}
{{!-- <img class="portrait" src="/img/intro.png"> --}}
</div>

{{>footer}}
</body>

</html>