<!DOCTYPE html>

<html>

<head>
<title>Intro</title>
<link rel="icon" href="/img/logo.png">
<link rel="stylesheet" href="/css/styles.css">
<script src="/js/app.js"></script>
</head>

<body>
<div class="main-content">
{{>header}}

<p>Use this site to know about us!</p>
<p>we are here to provide you original brands which you are seeking for.</p>
</div>

{{>footer}}
</body>

</html>